<template>
  <div>
    <tdl></tdl>
  </div>
</template>

<script>
import tdl from "./components/tdl.vue";

export default {
  name: "App",
  components: {
    tdl,
  },
};
</script>

<style>
</style>
