<template>
  <div class="container bg-success mt-5 pb-5 rounded">
    <!-- Judul -->
    <h1 class="text-center pt-5">To-do list</h1>

    <!-- Input -->
    <div class="border-5 border-white bg-primary">
      <div class="d-flex mt-5">
        <input
          type="text"
          v-model="task"
          placeholder="Enter task"
          class="form-control rounded-0"
        />
        <input type="date" v-model="date" />
        <button class="btn btn-primary rounded-0 border-0" @click="tambah">
          Tambah
        </button>
      </div>
    </div>

    <!-- Task table -->
    <table class="table table-strip table-hover mt-5 pb-5">
      <thead>
        <tr>
          <th>Task</th>
          <th>Tanggal</th>
          <th style="width: 200px">Status</th>
          <th colspan="2" class="text-center">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(task, index) in tasks" :key="index">
          <td>
            <span>
              {{ task.name }}
            </span>
          </td>
          <td>
            <span>
              {{ task.date }}
            </span>
          </td>
          <td>
            <span
              @click="changeStatus(index)"
              :class="{
                '': task.status === 'belum dikerjakan',
                '': task.status === 'selesai',
                '': task.status === 'dalam proses',
              }"
            >
              {{ task.status }}
            </span>
          </td>
          <td class="text-center">
            <div @click="hapus(index)">
              <button class="btn btn-danger">hapus</button>
            </div>
          </td>
          <td class="text-center">
            <div @click="edit(index)">
              <button class="btn btn-warning">edit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      task: "",
      editedTask: null,
      statuses: ["belum dikerjakan", "dalam proses", "selesai"],
      tasks: [
        {
          name: "kegiatan 1",
          status: "belum dikerjakan",
          date: "2022-01-02",
        },
      ],
    };
  },
  methods: {
    changeStatus(index) {
      let newIndex = this.statuses.indexOf(this.tasks[index].status);
      if (++newIndex > 2) newIndex = 0;
      this.tasks[index].status = this.statuses[newIndex];
    },
    hapus(index) {
      this.tasks.splice(index, 1);
    },
    edit(index) {
      this.task = this.tasks[index].name;
      this.date = this.tasks[index].date;
      this.editedTask = index;
    },
    tambah() {
      if (this.task.length === 0) return;
      if (this.editedTask != null) {
        this.tasks[this.editedTask].name = this.task;
        this.tasks[this.editedTask].date = this.date;
        this.editedTask = null;
      } else {
        this.tasks.push({
          name: this.task,
          status: "belum dikerjakan",
          date: this.date,
        });
      }
      this.task = "";
    },
  },
};
</script>

<style>
</style>